.container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    max-width: 400px;
  }
  
  .input {
    border: none;
    outline: none;
    flex: 1;
  }
  
  .icon {
    margin-left: 895px;
    margin-top: -33px;
    font-size: 18px;
    color: maroon;
    cursor: pointer;
    transition: color 0.3s ease; /* Animasi transisi */
  }
  
  .icon:hover {
    color: white;
  }

  .con{
    overflow: hidden;
 
  gap: 10rem;

  }
  .latar,.kategori {
    /* flex: auto;
    gap: 3rem ;
    margin-top: 12px;
    margin-left: 56px; */
    
    object-fit: cover;
    transition:  all 0.3s ease; /* Animasi halus */
  }
  
  .con:hover .kategori {
    
    margin-top: -40px;
    transform: scale(1.3);
    /* Perbesar gambar saat hover */
  }
  .kategori{
     position: absolute;
     z-index: 1;
    
  }

  .latar{
   
    
    
    
   
  }
  
  .con:hover .latar {
    opacity: 0.5;
  }